* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	justify-content: center;
	padding-top: 113px;
	@include mq('m') {
		padding-top: 71px;
	}
	@include mq('s') {
		padding-top: 55px;
	}
}

p {
	padding: 0;
	margin: 0;
}

span {
	padding: 0 10px;
}

footer {
	background-color: $color-secondary;
}

.send-email-2 {
	display: none;
	@include mq('s') {
		display: inline-block;
	}
}

.contact-checkbox-container {
	display: none;
	@include mq('s') {
		@include flexbox;
		padding-left: 0;
		li {
			list-style: none;
		}
	}
}

.tap-to-call {
	display: none;
	@include mq('s') {
		display: inline-block;
	}
}

.navy {
	color: $color-accent-tertiary;
}

.blue {
	color: $color-tertiary;
}

.light-grey {
	color: $color-accent-secondary;
}

.gray {
	color: $gray;
}

.accent {
	color: $color-accent;
}

.bold-text {
	font-weight: bold;
}

.background-image-main {
	background-image: url('../../img/background-top.png');
	height: 12vh;
	background-size: cover;
	background-position: center;
}

.container-custom {
	@include flexbox($direction: column, $justify: center);
	width: 90%;
	margin: auto;
	@include mq('s') {
		width: 100%;
	}
}

/*. outer positioning */

.outer-positioning-container {
	@include flexbox($direction: column);
}

/* navbar */

.find-pro-min-container {
	@extend %cursor-pointer;
	display: none;
	color: $color-tertiary;
	border: 2px solid $color-accent-minor;
	padding: 7px;
	border-radius: 3px;
	@include mq('s') {
		display: block;
	}
}

.find-pro-min {
	span {
		padding-left: 0;
	}
}

.inner-nav-container {
	@include flexbox($align: center, $justify: space-between);
	width: 90%;
	a {
		&:hover {
			text-decoration: none;
		}
	}
	@include mq('s') {
		width: 100%;
	}
}

.inner-nav-container li:last-child {
	div {
		color: $color-tertiary;
		border: 2px solid $color-accent-minor;
		padding: 7px;
		border-radius: 3px;
	}
}

.navbar-header {
	img {
		width: 180px;
	}
}

.outer-nav-bar {
	@include flexbox($justify: center);
	width: 100%;
	justify-content: center;
	position: fixed;
	top: 40px;
	left: 0;
	z-index: 9997;
	background-color: $white;
	border-bottom: 3px solid lightgray;
	@include mq('m') {
		order: -1;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9997;
	}
}

.navbar-list {
	position: relative;
	span {
		display: none;
	}
	> div {
		display: none;
	}
	ul {
		overflow: hidden;
	}
	@include mq('s') {
		width: 100%;
		border-top: 5px solid $color-accent;
		border-bottom: 5px solid $color-accent;
		span {
			display: inline;
		}
		li {
			background-color: $color-secondary;
			border: 1px solid $white;
			width: 100%;
			padding: 20px;
			font-size: 17px;
			&:last-child {
				display: none;
			}
			a {
				color: $gray;
				display: inline;
				&:hover {
					color: $black;
				}
			}
		}
		> div {
			display: block;
		}
	}
}

.nav-button-container {
	@include flexbox($align: center, $justify: space-between);
	@include mq('s') {
		width: 95%;
	}
}

/* keep below navbar list span */
.find-pool-pro {
	@extend %cursor-pointer;
	span {
		display: inline;
		padding-left: 0;
	}
}

.navbar-list-items {
	@include flexbox($align: center, $justify: space-between);
	> li:first-child {
		display: none;
	}
	li {
		padding: 15px 20px;
	}
}

.outer-top-bar {
	@include flexbox($justify: center, $align :center);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9996;
	margin: 0;
	background-color: $color-primary;
	color: $white;
}

.menu-close-button {
	position: absolute;
	top: 10px;
	right: 20px;
	z-index: 999;
	&:hover {
		color: $color-tertiary;
	}
	font-size: 20px;
}

.x1-container {
	@include flexbox($justify: flex-end, $align: center);
	width: 90%;
	padding: 10px;
	a {
		color: $color-font-secondary;
		&:hover {
			color: $color-accent-secondary;
			text-decoration: none;
		}
	}
	ul {
		margin: 0;
		li {
			display: inline-block;
		}
	}
}

.x1-container > ul > li:first-child {
	padding-right: 40px;
}

.top-bar-container {
	ul {
		li {
			padding: 15px;
			display: inline-block;
			&:hover {
				color: $color-accent-secondary;
			}
			&:nth-child(2) {
				padding-right: 0;
			}
		}
	}
	a {
		text-decoration: none;
	}
}

.nav-top-first {
	@include flexbox($justify: flex-end);
	width: 90%;
	span {
		padding-right: 0;
	}
}

.nav-top-second {
	@include flexbox($justify: flex-end);
	a {
		margin-right: auto;
	}
	img {
		width: 200px;
	}
}

.nav-top {
	> li {
		> a {
			color: $white;
		}
	}
}

.nav-list {
	> li {
		> a {
			color: $white;
		}
	}
}

.menu-expand {
	display: none;
	@extend %cursor-pointer;
}

.menu-button-line {
	width: 32px;
	height: 4px;
	background-color: $black;
	margin: 6px 0;
}

.navbar-bottom-border {
	border-bottom: solid gray 2px;
}

.nav-logo {
	width: 30%;
}

/* dealer component */

.flex-container {
	@include flexbox($justify: center, $wrap: wrap);
}

/* contact card */

.pool-spa-container {
	@include flexbox($direction: column);
	label {
		font-size: $font-size-primary;
	}
	@include mq('s') {
		p {
			display: none;
		}
	}
}

.contact-card-container {
	height: 100%;
	max-width: 500px;
	min-width: 300px;
}

.contact-top-container {
	position: relative;
}

.contact-top {
	font-size: $font-size-primary;
	padding: 22px 0;
	background-color: $color-primary;
	color: $white;
}

.close-contact-button {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 17px;
	&:hover {
		color: $color-accent-secondary;
	}
}

.optional {
	font-size: $font-size-primary;
}

.contact-dealer-name {
	font-size: 20px;
}

.below-contact-header {
	font-size: $font-size-primary;
	padding: 10px 0;
}

.contact-footer-paragraph {
	margin: 0;
	color: gray;
	font-size: 11px;
	padding: 15px;
}

.contact-no-button {
	@extend %contact-button;
	background-color: $color-secondary;
}

.contact-yes-button {
	margin-right: 5px;
	@extend %contact-button;
}

.button-clicked {
	background-color: $color-accent;
	color: $white;
}

.no-pool-or-spa {
	background-color: $color-secondary;
}

.contact-form-label {
	label {
		font-size: $font-size-primary;
	}
}

.contact-button-container {
	padding-bottom: 10px;
	button {
		outline: none;
	}
}

.phone-label {
	width: 220px;
}

.contact-label-row {
	@include flexbox($justify: space-between);
	span {
		font-size: 17px;
		padding-right: 0;
	}
}

.container-email {
	padding: 20px;
	background-color: $color-secondary;
}

.container-footer {
	margin-bottom: 0;
	margin-top: 20px;
	background-color: $color-secondary;
}

.send-email-container {
	@include flexbox($justify: center, $direction: column);
	border-top: 2px solid #ededed;
	p {
		padding-top: 20px;
		align-self: center;
	}
}

/* dealer entry */

.all-card-container {
	flex: 0 380px;
}

.card {
	border-radius: 10px;
	box-shadow: 0 2px 4px 1px #bfbfbf;
	padding: .5rem;
	padding-bottom: 10px;
	margin-bottom: 25px;
}

.card-container {
	font-size: 13px;
	padding: 0;
}

.dealer-button-container {
	margin-top: 10px;
}

.contact-dealer-btn {
	text-align: center;
	background-color: white;
	font-size: 14px;
	font-family: $font-stack-primary;
	font-weight: 600;
	color: $color-accent-tertiary;
	border-radius: 3px;
	border: 2px solid $color-accent;
	padding: 8px 10px;
}

.contact-dealer-btn span,
.phone-number-container span {
	padding-left: 0;
}

.sub-header {
	color: gray;
	font-style: italic;
	padding: 5px 0;
}

.card-top {
	@include flexbox($justify: center, $align: center);
	margin-bottom: 10px;
	border-bottom: 2px solid #ededed;
	height: 90px;
	align-items: center;
	justify-content: center;
}

.card-footer {
	@include flexbox($align: center, $justify: center);
	background-color: $color-secondary;
	height: 50px;
	margin-top: 30px;
	height: 60px;
}

.dealer-name {
	color: gray;
	font-size: 23px;
	font-weight: 100;
}

.business-hours {
	padding-top: 25px;
}

.cert-container {
	@include flexbox($wrap: wrap, $align: flex-start);
	width: 90%;
	height: 80%;
}

.cert {
	flex: 0 0 50%;
	box-sizing: border-box;
	padding-top: 4px;
}

/* footer */

.outer-footer {
	background-color: $color-primary;
	color: $color-font-secondary;
	margin-top: 30px;
	padding: 10px;
}

.footer-top-container {
	@include flexbox($justify: center, $align: center);
	text-align: center;
	span {
		padding: 5px;
		&:first-child {
			padding-left: 20px;
		}
	}
}

.footer-bottom-container {
	@include flexbox($justify: center);
	padding-top: 10px;
	background-color: $color-tertiary;
}

.footer-nav {
	text-align: right;
	list-style: none;
	a {
		color: $color-font-secondary;
		&:hover {
			color: $color-accent-secondary;
			text-decoration: none;
		}
	}
	li {
		display: inline;
	}
}

.footer-nav li:not(:first-child):before {
	content: '|';
	padding: 0 10px;
	color: $color-font-secondary;
}

.outer-top-footer {
	margin-top: 0;
}

/* filter */

.credential-item {
	@include side-padding(5px, 5px);
}

.filter-component {
	font-family: $font-stack-primary;
	font-weight: 600;
	div {
		&:nth-child(1) {
			border-right: 1px solid lightgray;
			@include side-padding(5px, 10px);
		}
		&:nth-child(2) {
			@include side-padding(10px, 5px);
		}
	}
	li {
		display: inline;
	}
	ul {
		margin-bottom: 0;
	}
}

.filter-outer-container {
	@include flexbox;
	margin-top: 2px;
}

.filter-header {
	display: inline-block;
}

.filter-inner-container {
	@include flexbox($justify: center, $align: center);
	padding: 20px 0;
	margin: 0 20px 20px 20px;
	color: $black;
	border-radius: 5px;
	background-color: $color-secondary;
	flex: 1;
}

.credential-component {
	ul {
		margin-bottom: 0;
	}
	li {
		display: inline;
	}
}

.full-hide {
	display: none;
}

@media (max-width: $break-m) {
	// body {
	// 	padding-top: 71px;
	// }

	.top-bar-container {
		@include flexbox($justify: center);
		padding: 10px;
		border-bottom: 1px solid $white;
		ul {
			li {
				padding: 0;
			}
		}
	}

	.x1-container {
		border-bottom: 1px solid $white;
		justify-content: center;
		align-items: center;
		li {
			&:not(:first-child):before {
				content: '|';
				padding: 0 10px;
				color: $color-font-secondary;
			}
		}
		> ul {
			> li {
				&:first-child {
					padding-right: 0;
				}
			}
		}
	}

	.navbar-list-items {
		li {
			padding: 15px 10px;
		}
	}

	.filter-component {
		div {
			&:nth-child(1) {
				@include side-padding(0, 0);
			}
			&:nth-child(2) {
				@include side-padding(0, 0);
				span {
					padding-right: 0;
				}
			}
		}
	}

	.credential-item {
		padding: 0;
	}

	.outer-top-bar {
		order: 2;
		background-color: $color-tertiary;
		justify-content: center;
		align-items: center;
		position: static;
		margin: 0;
	}

	// .outer-nav-bar {
	// 	order: -1;
	// 	position: fixed;
	// 	top: 0;
	// 	left: 0;
	// 	z-index: 9997;
	// }

	.outer-footer {
		order: 1;
	}

	.outer-top-footer {
		order: 3;
	}
}

@media (max-width: $break-s) {
	/* setup */
	// body {
	// 	padding-top: 55px;
	// }

	/*	.nav-top-first,*/

	// .pool-spa-container {
	// 	p {
	// 		display: none;
	// 	}
	// }

	.contact-button-container {
		display: none;
	}

	.send-email-1 {
		display: none;
	}

	.container-footer {
		display: none;
	}

	.close-contact-button {
		display: none;
	}

	.find-pool-pro {
		display: none;
	}

	// .container-custom {
	// 	width: 100%;
	// }

	.credential-component {
		border: 1px solid lightgray;
		background-color: $white;
		padding: 7px;
		li {
			display: block;
		}
	}

	.credential-item {
		padding: 10px;
	}

	.li-flex {
		@include flexbox($justify: space-between);
		justify-content: space-between;
		width: 100%;
	}

	.menu-expand {
		display: block;
	}

	/* navbar */

	// .inner-nav-container {
	// 	width: 100%;
	// }

	// .find-pro-min-container {
	// 	display: block;
	// }

	// .navbar-list {
	// 	width: 100%;
	// 	border-top: 5px solid $color-accent;
	// 	border-bottom: 5px solid $color-accent;
	// 	span {
	// 		display: inline;
	// 	}
	// 	li {
	// 		background-color: $color-secondary;
	// 		border: 1px solid $white;
	// 		width: 100%;
	// 		padding: 20px;
	// 		font-size: 17px;
	// 		&:last-child {
	// 			display: none;
	// 		}

	// 		a {
	// 			color: gray;
	// 			display: inline;
	// 		}
	// 	}
	// 	> div {
	// 		display: block;
	// 	}
	// }

	// .navbar-list li a:hover {
	// 	color: $black;
	// }

	.full-hide {
		display: inline-block;
	}

	.top-nav-item {
		display: inline-block;
	}

	.navbar-list-items {
		display: block;
		margin: 0;
		> li:first-child {
			display: block;
			background-color: $white;
			text-align: center;
			a {
				font-weight: 500;
				color: $color-tertiary;
			}
		}
	}

	// .nav-button-container {
	// 	width: 95%;
	// }

	.li-container {
		@include flexbox($justify: space-between);
	}

	.hiding {
		display: none;
	}

	/* contact */

	.container-email {
		background-color: $white;
	}

	.send-email-container {
		p {
			align-self: flex-end;
		}
	}

	// .send-email-2 {
	// 	display: inline-block;
	// }

	// .contact-checkbox-container {
	// 	@include flexbox;
	// 	padding-left: 0;
	// 	li {
	// 		list-style: none;
	// 	}
	// }

	.no-padding-left {
		padding-left: 0;
	}

	.own-spa-container {
		@include flexbox($justify: flex-start);
		justify-content: flex-start;
	}

	/* filter */

	.filter-component {
		@include flexbox;
		div {
			&:nth-child(1) {
				@include top-bottom-padding(5px, 5px);
			}
			&:nth-child(2) {
				background-color: $white;
				@include top-bottom-padding(5px, 5px);
				border-top: 1px solid lightgray;
			}
			&:nth-child(3) {
				@include top-bottom-padding(5px, 5px);
				border: 1px solid lightgray;
				border-bottom: 0;
			}
		}
	}

	.filter-outer-container {
		background-color: $color-secondary;
	}

	.filter-inner-container {
		@include flexbox($align: stretch, $direction: column);
		background-color: $color-secondary;
		font-size: 15px;
		flex: 1 1;
	}

	.filter-header {
		flex-grow: 1;
		text-align: center;
	}

	.credential-list-container {
		flex: 1 1;
	}

	/* dealer */

	// .tap-to-call {
	// 	display: inline-block;
	// }

	.card {
		border-radius: 0;
		margin-bottom: 0;
	}

	.card-top {
		margin-bottom: 0;
		border-bottom: 0;
		height: 70px;
		align-items: center;
		justify-content: center;
	}

	.phone-number-container {
		background-color: $color-tertiary;
		display: inline-block;
		color: $color-font-secondary;
	}

	.phone-number-container {
		span {
			color: $color-accent-tertiary;
		}
		label {
			color: $color-font-secondary;
			font-size: 15px;
		}
		h3 {
			margin: 10px;
		}
	}
}
