// colors
$gray: #808080;
$white: #fff;
$black: #000;

$color-primary: #083c8a;
$color-secondary: #f7f7f9;
$color-tertiary: #216dde;
$color-accent: #06c7c7;
$color-accent-secondary: #b2b2b2;
$color-accent-tertiary: #000080;
$color-accent-minor: #7aabdd;
$color-font-secondary: #fff;

// font
$font-stack-primary: 'Monsal Gothic Bold';

$font-size-primary: 12px;

// media queries
$breakpoints: ('s': 768px, 'm': 980px);
