$gray: #808080;
$white: #fff;
$black: #000;

$color-primary: #083c8a;
$color-secondary: #f7f7f9;
$color-tertiary: #216dde;
$color-accent: #06c7c7;
$color-accent-secondary: #b2b2b2;
$color-accent-tertiary: #000080;
$color-accent-minor: #7aabdd;
$color-font-secondary: #fff;

$font-stack-primary: 'Monsal Gothic Bold';

$font-size-primary: 12px;

%cursor-pointer {
	cursor: pointer;
}

@mixin side-padding($left, $right) {
	padding-left: $left;
	padding-right: $right;
}

@mixin top-bottom-padding($top, $bottom) {
	padding-top: $top;
	padding-bottom: $bottom;
}
